



<table class="table table-striped table-bordered table-condensed">
    <tbody>
        {%for profile in profiles%}
        <tr>
        <td><a href="{%url 'profiles:index' profile.reg_number %}" target="_blank">{{profile.user.first_name}} {{profile.user.last_name}} ({{profile.reg_number}})</a></td>
        <td>{{profile.points}}</td>
       </tr>

       {%empty%}
       <tbody>
   
            <tr>
                <td>No Records Found</td>
            </tr>
        
    
        </tbody>
       {%endfor%}

    </tbody>
</table>




