{%if profile.reg_number%}
<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
        <td><a href="{%url 'profiles:index' profile.reg_number %}" target="_blank">{{profile.user.first_name}} {{profile.user.last_name}} {{profile.reg_number}}</a></td>
        <td>{{profile.points}}</td>
       </tr>
    </tbody>
</table>
{%elif profile == "No Records" %}
<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
        <td>{{profile}}</td>
        <td>----------</td>
       </tr>
    </tbody>
</table>

{%else%}
{%for profile in profiles%}
<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
        <td><a href="{%url 'profiles:index' profile.reg_number %}" target="_blank">{{profile.user.first_name}} {{profile.user.last_name}} ({{profile.reg_number}})</a></td>
        <td>{{profile.points}}</td>
       </tr>
    </tbody>
</table>
{%endfor%}

{%endif%}
