{%load static%}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hopeless Opus|Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="{%static 'css/utillog.css'%}">
	<link rel="stylesheet" href="{%static 'css/mainlog.css'%}">
	<link rel="icon" type="image/ico" href="{%static 'img/acumen2.png'%}" />
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
        <div class="container-login100" style="background-image: url({%static 'images/dobby-bg.jpg'%});">
           
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                    {%if messages%}
                    {%for message in messages%}
                    <div class="alert alert-{{message.tags}}">
                            {{message}}
                    
                        </div>
                    {%endfor%}
                    {%endif%}
				<form method="POST">
                    {%csrf_token%}
					<span class="login100-form-title p-b-59" >
						LOGIN
                    </span>
                    <div class="form-group">
                    {{form|crispy}}
                    </div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit" name="submit">
							Log In
						</button>
					</div>
					<div class="w-full text-center p-t-55">
						<span class="txt2">
							New in the wizardingn world?
						</span>

						<a href="{%url 'user:signup'%}" class="txt2 bo1">
							Sign up now
						</a>
                    </div>
                    <div class="w-full text-center p-t-40">
                            <span class="txt2">
                                Forgot Password? Alohomora or 
                            </span>
    
                            <a href="{%url 'user:reset'%}" class="txt2 bo1">
                               Click here
                            </a>
                        </div>
				</form>

				
			</div>
		</div>
	</div>
	

    <!-- <div id="dropDownSelect1"></div> -->
    <!-- <script src="{%static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script> -->
	
<!--===============================================================================================-->
    <!-- <script src="{%static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/popper.js'%}"></script> -->
    <style>
        .asteriskField{
            display: none;
        }
    </style>
<!--===============================================================================================-->
	<!-- <script src="vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
	

<!--===============================================================================================-->
	<!-- <script src="vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/daterangepicker/moment.min.js"></script> -->
	<!-- <script src="vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/countdowntime/countdowntime.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="js/main.js"></script> -->

</body>
</html>