{%load static%}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{%block title%}Hopeless Opus|Password Reset{%endblock%}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%static 'img/acumen.png'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'reset/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'reset/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'reset/css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'reset/css/main.css'%}">
    <style>
       li{
            list-style-type:disc;
            margin-left:14px;
        }
        body{
            
            background-image: url('/static/reset/css/harry-bg.jpg');
            background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;            

        }
    </style>
    
<!--===============================================================================================-->
</head>
<body>
	
        <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55" style="border-style:solid;">
                            {%block content%}
                        <form class="login100-form validate-form flex-sb flex-w" method="POST">
                            {%csrf_token%}
                            <span class="login100-form-title p-b-32">
                                Trouble logging in? that is the problem with muggle technology! 
                            </span>
        
                            <span class="txt1 p-b-11">
                                Email Id
                            </span>
                            <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                                {{form.email}}
                                <span class="focus-input100"></span>
                            </div>
                            
                            <div class="flex-sb-m w-full p-b-48">
        
                                <div class="txt2">
                                    <a href="{%url 'user:login'%}" class="txt3">
                                        Go Back?
                                    </a>
                                </div>
                            </div>
        
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="submit">
                                    <span style="font-size: 20px;">Submit</span>
                                </button>
                            </div>
        
                        </form>
                        {%endblock%}
                    </div>
                </div>
            </div>
            
            <div id="dropDownSelect1"></div>

        
<!--===============================================================================================-->
	<script src="{%static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'reset/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{%static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'reset/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{%static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
    <script src="{%static 'reset/js/main.js'%}"></script>
    <script>
        document.getElementById("id_email").classList.add("input100")
    </script>

</body>
</html>