{%extends 'user/reset.html'%}
{%load crispy_forms_tags%}
{%block title%}
Confirmation
{%endblock%}

{%block content%}
                <form class="login100-form validate-form flex-sb flex-w" method="POST">
                    {%csrf_token%}
                    {{form|crispy}}

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Submit
                        </button>
                    </div>

                </form>
     

    <div id="dropDownSelect1"></div>
    <script>
            document.getElementById("id_new_password1").classList.add("input100");
            document.getElementById("id_new_password2").classList.add("input100");

            document.getElementsByClassName("requiredField")[0].innerHTML="Enter Password";
            document.getElementsByClassName("requiredField")[1].innerHTML="Enter the above Password again";


    </script>


{%endblock%}