{%load static%}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hopleless Opus|Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="{%static 'css/util.css'%}">
	<link rel="stylesheet" href="{%static 'css/main.css'%}">
	<link rel="icon" type="image/ico" href="{%static 'img/acumen2.png'%}" />
	<script src=https://www.google.com/recaptcha/api.js></script>

<!--===============================================================================================-->
</head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url({%static 'images/signup-bg-2.png'%});">
				<div class="bg d-none d-lg-block">
					<center><img src="{%static 'img/acumen2.png'%}" style=" margin-top: 14%;" width="500px" height="500px"></center>
					
				</div>
			</div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				{%if messages %}
				{%for message in messages%}
				<div class="alert alert-warning text-center" role="alert">
						{{message}}

					
				</div>
				{%endfor%}
				{%endif%}
				<form class="login100-form validate-form" method="POST">
                    {%csrf_token%}
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

                    {{u_form|crispy}}
                    {{p_form|crispy}}
					
					<!-- <div class="g-recaptcha" data-sitekey="6LcC-sYUAAAAAMpqMcnq7I02JSn_e_SdZTfXVECL"></div> -->
                        <!-- </div>  -->

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit" name="submit">
								Sign Up
							</button>
						</div>

						

						
					</div>
					<a href="{%url 'user:login'%}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
						Sign in
						<i class="fa fa-long-arrow-right m-l-5"></i>
					</a>
				</form>
				
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/bootstrap/js/popper.js"></script> -->
	<!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/daterangepicker/moment.min.js"></script> -->
	<!-- <script src="vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/countdowntime/countdowntime.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="js/main.js"></script> -->

	

</body>
</html>