Greetings from Hopeless Opus (Acumen – Techtatva 2020)!
<br/>
<br/>

Dear {{first_name}},
<br/>
You are receiving this email because you have not updated your User Id on our website <a href="https://opus.techtatva.in">(https://opus.techtatva.in)</a> yet. <br/>
Kindly go to the TechTatva Website and sign up. Once you are successfully verified, you can then register for Hopeless Opus (Hopeless Opus – 100) on the TechTatva Portal. After that, kindly go to the Hopeless Opus website <a href="https://opus.techtatva.in">(https://opus.techtatva.in)</a> and update your UserId under the <b>'Profile Section'</b>.
<br/>
If your Userid has not been verified within 24hrs of registration on TechTatva Website, kindly contact our CCs or Event Heads. We will treat such a case at priority. Their contact numbers can be found on our website under <b>Contact Us</b> section.
<br/>
(Please note that the User Id will be used at the time of prize distribution. Hence, failure to update it may lead to disqualification.)
<br/>
Thanking you,
<br/>
Hopeless Opus, Acumen, TechTatva'20