Greetings from Hopeless Opus Team, Acumen, TechTatva'20 !
<br/>
<br/>
Dear {{first_name}},
<br/>
You are receiving this mail because you have <b>not updated the UserId</b> with us yet. Please note that the UserId will be used at the time of prize distribution. Hence, failure to update it will lead to disqualification, due to which you will miss out on the prize. 
<br/>
Kindly go to <a href="https://techtatva.in">TechTatva Website</a> and register to to the Hopeless Opus Event, get your UserId and register to the event <b>Hopeless Opus - 100</b>. 
<br/>
Once you have done that, you can log in to the Hopeless Opus Website (<a href="https://opus.techtatva.in">https://opus.techtatva.in</a>) and update your UserId under the <b>'Profile Section'</b>
<br/>
<br/>
Thanking you,
<br/>
Hopeless Opus, Acumen, TechTatva'20
