.nav{
    background-color: #111;
    margin-bottom: 0px;
}

.rounded{
	margin: 10px !important;
}
a.nav-link{
	background-color: #343a40;
}
.blink{
	/*background-color: */
	animation: blinker 2s linear infinite;
}

@keyframes blinker
{
	50% {
		opacity: 0;
	}
}