{%extends 'game/base.html'%}
{%load crispy_forms_tags%}

{%block title%}
Hopeless Opus|Aptitude
{%endblock%}

{%block content%}
<div id="correct_wrong">
</div>

<div id="particles-js"></div>
<div id="story">
    
    <div class="container mt-5" style="margin-bottom:3%;">
        <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 md-offset-8">
                    <div class="border" id="changer">
                            <div id="checking" style="opacity:1; color: white; padding:10px; text-align:center;"></div>
                           <h3 style="opacity:1; color: white; padding:10px; text-align:center;" >
                               {{question.question}}
                           </h3>
                    </div>
                </div>
        </div>
    </div>
</div>


<form method="POST" id="aptitude_form">
    {%csrf_token%}
        <div id="mcq" class="container justify-content-center">
            <div class="container row justify-content-center">
                 <div class="form-group field col-lg-4 justify-content-center">
                    {{form|crispy}}
                </div>
                <br>
                <div class="container row justify-content-center">
                    <button type="submit" class="btn btn-success"  style="z-index:1000;"><b>Submit</b></button></div>
            </div>
        </div>
</form>




    
{%endblock%}

{%block other_js%}
<script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });
 // $(function() {
   //   setTimeout(function() {
     //     $(".toast").hide('blind', {}, 500)
     // }, 5000);
  //});
  </script>

<script>
   
        $("#aptitude_form").submit(function(e){

            e.preventDefault();
            var csrf=document.getElementsByName('csrfmiddlewaretoken')[0].value;
            var answer=document.getElementById("id_answer").value;

            $.ajax({
                type:"POST",
                url:"{%url 'game:check_aptitude'%}",
                headers: { "X-CSRFToken": csrf },
                data:{
                    'ans':answer
        
                  },

                  beforeSend:function(){
                    $("#checking").append('Checking...');
        
                  },

                  success:function(response){
                    if(response!="correct"){
                      document.getElementById("correct_wrong").innerHTML=" ";
                      document.getElementById("checking").innerHTML=" ";
                      $('#correct_wrong').append(response);
                    
                    }

                    else if (response=="correct"){
                        alert("Correct Answer");

                        document.location.reload();
                    }

        
                  },
            });


        });
 
</script>
  

{%endblock%}