{%extends 'game/base.html'%}
{%load static%}
{%load crispy_forms_tags%}

{%block title%}
Hopeless Opus|Aptitude
{%endblock%}

{%block content%}
<div id="correct_wrong">
</div>


<div id="story">
    
    <div class="container mt-5" style="margin-bottom:3%;">
        <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 md-offset-8">
                    <div id="changer">
                           <h3 class="style-question-apt lead" style=" text-align:justify;" >
                               {%autoescape off%}
                               {{question.question}}
                               {%endautoescape%}
                           </h3>
                    </div>
                </div>
        </div>
    </div>
</div>


<form method="POST" id="aptitude_form">
    {%csrf_token%}
        <div id="mcq" class="container justify-content-center">
            <div class="container row justify-content-center">
                 <div class="form-group field col-lg-4 justify-content-center">
                    {{form|crispy}}
                </div>
                <br>
                <div class="container row justify-content-center">
                    <button type="submit" class="btn btn-primary"  style="z-index:1000;"><b> Submit! </b></button></div>
            </div>
        </div>
</form>


{%endblock%}

{%block other_js%}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  <script src="{%static 'js/ajax_funs2.js'%}"></script>

{%endblock%}