{%extends 'game/base.html'%}

{%load static%}


{%block title%}
Hopeless Opus|Story
{%endblock%}

{%block other_css%}
<link rel="stylesheet" href="{%static 'js/jquery.fancybox.min.css'%}" />



{%endblock%}


{%block content%}

{%autoescape off%}
<div id="story">
    
    <div class="container">
        <div class="row container-fluid justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
                    <div class="spacer2 style-question">
                        <p style="text-align:center; font-size: 20px; " oncontextmenu="return false;"><b> {{story.question}}</b></p>
                    </div>
                </div>
        </div>
    </div>
</div>

<div id="options" class="spacer">
        <div class="container">
            <div class="row row2">
               
                {%for option in story.story_options_set.all%}
                    <div class="col-lg-{{number}} col-md-{{number}} col-sm-12 col-xs-12">
                    <a href="{%url 'game:check_story' forloop.counter%}" style="z-index:1000; color:black; text-decoration:none;">
                        <div class="style-options">
                            <p class="lead text-justify" style="font-size: 18px;">{{option.option}}</p>
                        </div>
                    </a>
                    </div>
                    {%endfor%}
              
                    
                  
                   
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <a data-fancybox="gallery" href="/static/images/map.jpg"><img width="400" src="/static/images/map.jpg"></a>
                </div>

            </div> -->
        </div>
</div>

{%endautoescape%}
{%endblock%}

